<div class="container">
    <section class="section">
        <div class="columns">
            <%= render 'form', post: @post %>
        </div>
    </section>
</div>


<%= link_to 'Back', posts_path %>
